@import "tailwindcss";

:root {
  --color-primary: #368fff;
  --color-secondary: #63a8ff;
  --color-accent: #f59e0b;
  --color-success: #10b981;
  --color-warning: #f97316;
  --color-error: #ef4444;
  --color-border-line: #dbdbdb;
  --color-white-card: #ffffff;
  --color-background-gray: #f1f5f9;
  --color-dark: #0c0c0c;
  --color-gray: #717171;
}

.dark {
  --color-primary: #0f172a;
  --color-secondary: #5b21b6;
  --color-accent: #eab308;
  --color-success: #059669;
  --color-warning: #ea580c;
  --color-error: #dc2626;
  --color-border-line: #374151;
  --color-white-card: #111827;
  --color-background-gray: #0b1220;
  --color-dark: #f8f4f4;
  --color-gray: #e6e2e2;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

/* .my-card {
  width: 300px;
  height: 180px;
  background: linear-gradient(135deg, #368fff 0%, #63a8ff 100%);
  clip-path: path(
    "M20 0 H240 Q280 0 280 40 V60 H300 V180 H20 Q0 180 0 160 V20 Q0 0 20 0 Z"
  );
} */
